<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Receiver Username</h4>
      </div>
      <div class="modal-body">
        <input placeholder="enter receiver" ng-model="receiver" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="setReceiver(receiver)" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
